# dependencies
node_modules/

# build output
dist/

# env files
.env*

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/

# legacy Next.js (can be removed)
.next/
out/
build/
